@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600&family=Playfair+Display:wght@500&family=Roboto:wght@300;400&family=Ysabeau+Infant:wght@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,300;0,400;1,600&family=Playfair+Display:wght@500&family=Roboto:wght@300;400&family=Ysabeau+Infant:wght@1&display=swap');


*{
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
    overflow-x: hidden;
}